@{
    ViewData["Title"] = "Knab FX";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Knab Crypto Rates</h1>
    <p>Built by Peter Habib</p>
    <p>Click <a asp-controller="Home" asp-action="Rates">Here</a> to get latest Crypto Rates</p>
</div>
